<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/app.css">
    <title>HGR Immobilienverwaltung</title>
</head>
<body>

    <header>
        <a href="/"><img src="/assets/img/hgr-logo-red.svg"></a>

        <nav>
            <a href="/" {% if page.url == "/" %} class="selected"{% endif %}>Home</a>
            <a href="/unternehmen/" {% if page.url == "/unternehmen/" %} class="selected"{% endif %}>Unternehmen</a>
            <a href="/team/" {% if page.url == "/team/" %} class="selected"{% endif %}>Team</a>
            <a href="/referenzen/" {% if page.url == "/referenzen/" %} class="selected"{% endif %}>Referenzen</a>
            <a href="/kontakt/" {% if page.url == "/kontakt/" %} class="selected"{% endif %}>Kontakt</a>
        </nav>
    </header>