<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/app.css">
    <title>HGR Immobilienverwaltung</title>
</head>
<body>

    <header class="mb-xlg">
        <a href="/"><img src="/assets/img/hgr-logo-red.svg"></a>

        <nav>
            <a href="/" {% if page.url == "/" %} class="selected"{% endif %}>Home</a>
            <a href="/team/" {% if page.url == "/team/" %} class="selected"{% endif %}>Team</a>
            <a href="/verwaltung/">Verwaltung</a>
            <a href="/referenzen/" {% if page.url == "/referenzen/" %} class="selected"{% endif %}>Referenzen</a>
            <a href="/blog/">Blog</a>
            <a href="/kontakt/">Kontakt</a>
        </nav>
    </header>