---
---

@import './reset.css';
@import './typography.css';
@import './utility.css';

// Variables
$background-color: #fff;
$primary-color: #ff3300;
$grey-light: #F4F1EE;
$grey-medium: #CFCAC5;
$grey-dark: #AAA39D;
$black: #262626;

// Mixins
@mixin b-a {
    border: 1px solid $black;
}

@mixin b-t {
    border-top: 1px solid $black;
}

@mixin b-b {
    border-bottom: 1px solid $black;
}

@mixin b-h {
    border-left: 1px solid $black;
    border-right: 1px solid $black;
}

@mixin b-v {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
}

@mixin b-t-r {
    border-top: 1px solid $black;
    border-right: 1px solid $black;
}

@mixin b-t-l {
    border-top: 1px solid $black;
    border-left: 1px solid $black;
}

@mixin b-r-b {
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
}

@mixin b-b-l {
    border-bottom: 1px solid $black;
    border-left: 1px solid $black;
}

@mixin b-t-r-b {
    border-top: 1px solid $black;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
}

@mixin b-t-r-l {
    border-top: 1px solid $black;
    border-right: 1px solid $black;
    border-left: 1px solid $black;
}

@mixin b-t-b-l {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    border-left: 1px solid $black;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $background-color;
    color: $black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    padding: 4rem;
    @include b-b();
}

nav {

    a {
        margin-left: 6.4rem;
        text-decoration: none;
        text-transform: uppercase;
        color: $black;
    }

    a.selected {
        border-bottom: 1px solid $black;
    }

}

// Startseite
.hero {
    display: flex;
    background-color: #fff;

    &__left {
        height: 80vh;
        width: 66.666vw;
        background-color: $primary-color;
        overflow: hidden;

        @include b-r-b();

        &__img {
            background-position: top;
            background-size: cover;
            height: 100%;
            width: 100%;
            opacity: 0;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 33.333vw;
        height: 80vh;
        padding: 8rem;
        overflow: hidden;
        @include b-b();
    }
}

.container {

    @include b-b();

    &__headline {
        text-align: center;
    }

    &__paragraph {
        text-align: center;
        max-width: 98rem;
        margin-left: auto;
        margin-right: auto;
    }
}

section.team {
    display: flex;
    height: 90vh;
}

.team__left {
    width: 50vw;
    height: 100%;
    background-color: $black;

    &__headline {
        border-bottom: 1px solid #fff;

        & h1 {
            margin: 2rem 4rem;
        }
    }

    &__namelist {
        padding: 4rem;
    }

    &__paragraph {
        max-width: 80rem;
        color: #fff;
    }

    &__name h2 {
        color: #fff;
        display: inline;
        cursor: pointer;

        &:hover {
            color: $primary-color;
        }

    }

    &__name.current h2 {
        color: $primary-color;
    }
}

.team__right {
    width: 50vw;
    height: 100%;
    background-color: $grey-light;
}

.team__right__image {
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100%;

    display: none;
}

.visible {
    display: block;
}

.fade {
    opacity: 0;
    transition: opacity 1s ease;
}

.fade.in {
    opacity: 1;
    transition: all 1s ease;
}

// Subpage
.page-header {
    display: flex;

    &__left {
        width: 33.333vw;
        padding: 4rem;

        display: flex;
        flex-direction: column;
        justify-content: center;


        @include b-r-b();
    }

    &__right {
        width: 66.667vw;
        @include b-b();
    }
}

.split-thirds {
    min-height: 80vh;
    width: 100%;
    display: flex;

    &:nth-of-type(even) {
        flex-direction: row-reverse;

        & .split-thirds__imagecontainer {
            width: 66.667vw;
            @include b-b();
            border-right: none;
        }

        & .split-thirds__content {
            width: 33.333vw;
            background-color: $grey-light;
            @include b-r-b();
        }
    }

    &__imagecontainer {
        width: 33.333vw;
        background-color: $primary-color;
        overflow: hidden;
        @include b-r-b();
    }

    &__image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    &__content {
        width: 66.667vw;
        background-color: $background-color;
        padding: 8rem;
        @include b-b();

        & h3 {
            max-width: 80rem;
        }
    }
}

// Unternehmen

// Team
.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    & h3.toggle {
        display: inline-block;
        border-bottom: 2px solid;
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid transparent;
        }
    }

    &__item {
        padding: 4rem;
        background-color: $primary-color;
        @include b-r-b();

        &:nth-child(3n) {
            border-right: none;
        }
    }

    &__bio {
        visibility: initial;
        display: block;
        height: auto;
        opacity: 1;
        transform: translateY(0);
        transition: all .5s ease;

        &.hidden {
            display: block;
            visibility: hidden;
            height: 0;
            opacity: 0;
            transform: translateY(50px);
            transition: none;
        }

    }

    &__phone,
    &__mail {
        display: flex;
        align-items: center;

        & img {
            height: 3rem;
            margin-left: -0.6rem;
            margin-right: 0.6rem;
        }
    }

    &__tabelle p {
        border-bottom: 1px solid $black;
        padding-bottom: .5rem;
        padding-top: .5rem;
    }
}

// Referenzen
.referenzen-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__intro {
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include b-r-b();

        & p {
            max-width: 64rem;
        }
    }

    &__heroimage {
        height: 87vh;
        background-size: cover;
        background-position: center;
        @include b-b();
    }
}

.referenzen-objekt-grid {
    width: 100vw;
    display: flex;

    &:nth-of-type(even) {
        flex-direction: row-reverse;

        & .referenzen-objekt-grid__left {
            background-color: $black;
            color: #fff;
            border-right: none;
        }

        & .referenzen-objekt-grid__right {
            background-color: $black;
            color: #fff;
            @include b-r-b();
        }
    }

    &__left {
        width: 50vw;
        min-height: 80vh;

        display: flex;

        @include b-r-b();

        &:nth-of-type(even) {
            flex-direction: row-reverse;
        }
    }

    &__right {
        width: 50vw;
        min-height: 80vh;
        padding: 8rem;
        @include b-b();
    }

    &__facts {
        width: 40%;
        padding: 4rem;
    }

    &__image {
        width: 60%;
        height: 80vh;
        background-position: center;
        background-size: cover;
    }
}

// Kontakt

// Animation
@-webkit-keyframes anim1 {
    from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
            opacity: 1;
    }
}
  
@keyframes anim1 {
    from {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
    }
    to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    }
}

.anim {
    opacity: 0;
}