---
---

@import './reset.css';
@import './typography.css';
@import './utility.css';

// Variables
$background-color: #fff;
$primary-color: #FF3300;
$secondary-color: #FF4B1F;
$grey-light: #EBE4DC;
$grey-medium: #C8BFB5;
$grey-dark: #A69A8F;
$black: #262626;

$timing: cubic-bezier(0.23, 1, 0.32, 1);

// Mixins
@mixin b-a {
    border: 1px solid $black;
}

@mixin b-t {
    border-top: 1px solid $black;
}

@mixin b-b {
    border-bottom: 1px solid $black;
}

@mixin b-h {
    border-left: 1px solid $black;
    border-right: 1px solid $black;
}

@mixin b-v {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
}

@mixin b-t-r {
    border-top: 1px solid $black;
    border-right: 1px solid $black;
}

@mixin b-t-l {
    border-top: 1px solid $black;
    border-left: 1px solid $black;
}

@mixin b-r-b {
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
}

@mixin b-b-l {
    border-bottom: 1px solid $black;
    border-left: 1px solid $black;
}

@mixin b-t-r-b {
    border-top: 1px solid $black;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
}

@mixin b-t-r-l {
    border-top: 1px solid $black;
    border-right: 1px solid $black;
    border-left: 1px solid $black;
}

@mixin b-t-b-l {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    border-left: 1px solid $black;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $background-color;
    color: $black;
    padding-bottom: 20.6rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    padding: 4rem;
    @include b-b();
}

nav {

    a {
        margin-left: 6.4rem;
        text-decoration: none;
        text-transform: uppercase;
        color: $black;
    }

    a.selected {
        border-bottom: 1px solid $black;
    }

}

.page {
    position: relative;
    z-index: 2;
    background-color: #fff;
}

// Startseite
.hero {
    display: flex;
    background-color: #fff;

    &__left {
        height: 80vh;
        width: 66.666vw;
        background-color: $primary-color;
        overflow: hidden;

        @include b-r-b();

        &__img {
            background-position: top;
            background-size: cover;
            height: 100%;
            width: 100%;
            opacity: 0;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 33.333vw;
        height: 80vh;
        padding: 8rem;
        overflow: hidden;
        @include b-b();
    }
}

.container {

    @include b-b();

    &__headline {
        text-align: center;
    }

    &__paragraph {
        text-align: center;
        max-width: 98rem;
        margin-left: auto;
        margin-right: auto;
    }
}

section.team {
    display: flex;
    height: 90vh;
}

.team__left {
    width: 50vw;
    height: 100%;
    background-color: $black;

    &__headline {
        border-bottom: 1px solid #fff;

        & h1 {
            margin: 2rem 4rem;
        }
    }

    &__namelist {
        padding: 4rem;
    }

    &__paragraph {
        max-width: 80rem;
        color: #fff;
    }

    &__name h2 {
        color: #fff;
        display: inline;
        cursor: pointer;

        &:hover {
            color: $primary-color;
        }

    }

    &__name.current h2 {
        color: $primary-color;
    }
}

.team__right {
    width: 50vw;
    height: 100%;
    background-color: $grey-light;
}

.team__right__image {
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100%;

    display: none;
}

.visible {
    display: block;
}

.fade {
    opacity: 0;
    transition: opacity 1s ease;
}

.fade.in {
    opacity: 1;
    transition: all 1s ease;
}

// Subpage
.page-header {
    display: flex;

    &__left {
        width: 33.333vw;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include b-r-b();

        &__headline {
            padding: 2rem 4rem;
            @include b-b();
        }

        &__paragraph {
            padding: 2rem 4rem;
        }
    }

    &__right {
        width: 66.667vw;
        @include b-b();
    }
}

.split-thirds {
    min-height: 80vh;
    width: 100%;
    display: flex;

    &:nth-of-type(even) {
        flex-direction: row-reverse;

        & .split-thirds__imagecontainer {
            width: 66.667vw;
            @include b-b();
            border-right: none;
        }

        & .split-thirds__content {
            width: 33.333vw;
            background-color: $grey-light;
            @include b-r-b();
        }
    }

    &__imagecontainer {
        width: 33.333vw;
        background-color: $primary-color;
        overflow: hidden;
        @include b-r-b();
    }

    &__image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    &__content {
        width: 66.667vw;
        background-color: $background-color;
        @include b-b();

        &__headline {
            padding: 2rem 4rem;
            @include b-b();
        }

        &__paragraph {
            padding: 4rem;
        }

        & h4 {
            max-width: 80rem;
        }
    }
}

.split-halves {
    min-height: 87vh;
    width: 100%;
    display: flex;

    &__content {
        width: 50vw;
        @include b-r-b();
    }

    &__imagewrapper {
        width: 50vw;
        overflow: hidden;
        @include b-b();
    }

    &__heroimage {
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    &__headline {
        padding: 2rem 4rem;
        @include b-b();
    }

    &__paragraph {
        padding: 4rem;

        p {
            max-width: 80rem;
        }
    }

    &__cell {
        display: flex;
        align-items: center;

        & img {
            height: 4.8rem;
            width: auto;
        }
    }
}

#map {
    height: 100%;
    width: 50vw;
}

// Unternehmen

// Team
.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    & img.portrait {
        padding: 0 4rem 4rem 4rem;
    }

    & h3.toggle {
        margin: 0 4rem 4rem 4rem;
        display: inline-block;
        border-bottom: 2px solid;
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid transparent;
        }
    }

    &__item {
        background-color: $primary-color;
        transition: background-color .75s ease;
        @include b-r-b();

        &:hover {
            background-color: $secondary-color;
            transition: background-color 0s ease;
        }

        &__wrapper {
            padding: 2rem 4rem 4rem 4rem;
        }

        &:nth-child(3n) {
            border-right: none;
        }

        &__headline {
            padding: 2rem 4rem;
            @include b-b();
        }

        &__paragraph {
            padding: 2rem 4rem;
        }

        &.dark {
            background-color: $black;
            color: #fff;

            & .team-grid__item__headline {
                border-bottom: 1px solid $grey-light;
            }
        }

        &.light {
            background-color: $grey-light;
            color: $black;
        }
    }

    &__keyfacts {
        padding: 2rem 4rem;
        @include b-b();
    }

    &__contact {
        display: flex;

        & .team-grid__icon:first-child {
            margin-right: 4rem;
        }
    }

    &__bio {
        visibility: initial;
        display: block;
        height: auto;
        opacity: 1;
        transform: translateY(0);
        transition: all .5s ease;
        padding: 0 4rem;

        &.hidden {
            display: block;
            visibility: hidden;
            height: 0;
            opacity: 0;
            transform: translateY(50px);
            transition: none;
        }

    }

    &__icon {
        display: flex;
        align-items: center;

        & img {
            height: 3rem;
            margin-left: -0.6rem;
            margin-right: 0.6rem;
        }
    }

    &__tabelle p {
        border-bottom: 1px solid $black;
        padding-bottom: .5rem;
        padding-top: .5rem;
    }

    &__portraitwrapper {

        & img.portrait {
            transform: translate(0, 120%);
        }

        &.in-view {
            transform: translateY(0, 0);
        }

    }
}

.portraitwrapper {
    overflow: hidden;
}

.portraitwrapper img.portrait {
    transform: translate(0, 50%);
    opacity: 0;
    transition: all 1s 0.25s $timing;
}

.portraitwrapper.in-view img.portrait {
    opacity: 1;
    transform: translate(0, 0);
}

// Referenzen
.referenzen-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__intro {
        display: flex;
        flex-direction: column;
        @include b-r-b();

        &__headline {
            padding: 2rem 4rem;
            @include b-b();
        }

        &__paragraph {
            padding: 4rem;
        }

        & p {
            max-width: 64rem;
        }
    }

    &__heroimage {
        height: 70vh;
        background-size: cover;
        background-position: center;

        &wrapper {
            overflow: hidden;
            @include b-b();
        }
    }
}

.referenzen-objekt-grid {
    width: 100vw;
    display: flex;

    &:nth-of-type(even) {
        flex-direction: row-reverse;
    }

    &:nth-of-type(2n) {

        & .referenzen-objekt-grid__left {
            background-color: $black;
            color: #fff;
            border-right: none;

            & .referenzen-objekt-grid__object {
                border-bottom: 1px solid $grey-light;
            }
        }

        & .referenzen-objekt-grid__right {
            background-color: $black;
            color: #fff;
            @include b-r-b();

            & .referenzen-objekt-grid__quote {
                border-bottom: 1px solid $grey-light;
            }
        }
    }

    &:nth-of-type(3n) {

        & .referenzen-objekt-grid__left {
            background-color: $grey-light;
        }

        & .referenzen-objekt-grid__right {
            background-color: $grey-light;
        }
    }

    &:nth-of-type(4n) {

        & .referenzen-objekt-grid__left {
            background-color: $grey-medium;
            color: $black;

            & .referenzen-objekt-grid__object {
                @include b-b();
            }
        }

        & .referenzen-objekt-grid__right {
            background-color: $grey-medium;
            color: $black;

            & .referenzen-objekt-grid__quote {
                @include b-b();
            }
        }
    }

    &__left {
        width: 50vw;
        min-height: 80vh;
        overflow: hidden;

        display: flex;

        @include b-r-b();

        &:nth-of-type(even) {
            flex-direction: row-reverse;
        }
    }

    &__right {
        width: 50vw;
        min-height: 80vh;

        display: flex;
        flex-direction: column;
        justify-content: center;

        @include b-b();
    }

    &__facts {
        width: 40%;
    }

    &__object {
        padding: 2rem 4rem;
        overflow: hidden;
        @include b-b();
    }

    &__image {
        width: 60%;
        height: 80vh;
        background-position: center;
        background-size: cover;

        transform: translate(0, 25%);
        opacity: 0;

        transition: all 1s 0.25s $timing;

        &.in-view {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    &__quote {
        padding: 4rem;
        overflow: hidden;
        @include b-b();
    }

    &__person {
        padding: 4rem;
    }
}

// Kontakt

// Footer
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

footer.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    background-color: $primary-color;
}

div.footer-section {
    display: flex;
    flex-direction: column;
    padding: 4rem;

    @include b-r-b();

    & nav {
        margin: 0 auto;
    }

    & nav a {
        display: block;
        margin-left: auto;
    }

    & img {
        height: 3.2rem;
        width: auto;
    }

}

// Animation
@-webkit-keyframes anim1 {
    from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
            opacity: 1;
    }
}
  
@keyframes anim1 {
    from {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
    }
    to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    }
}

.anim {
    opacity: 0;
}