@font-face {
    font-family: "Space Grotesk";
    font-weight: 400;
    src: url(../fonts/SpaceGrotesk-Regular.woff2), url(../fonts/SpaceGrotesk-Regular.woff);
}

:root {
    --base-font: "Space Grotesk"
}

body {
    font-family: var(--base-font), Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: var(--base-font), Helvetica, sans-serif;
}

h1 {
   font-size: 4.624rem; 
}

h2 {
    font-size: 3.653rem;
}

h3 {
    font-size: 2.281rem;
}

h4 {
    font-size: 2.027rem;
}

p {
    font-size: 1.8rem;
}

nav a {
    font-size: 1.8rem;
}

header.menu-fixed nav a {
    font-size: 1.6rem;
}

@media only screen and (max-width: 144rem) {
    
    h1 {
        font-size: 2.887rem; 
     }
     
     h2 {
         font-size: 2.281rem;
     }
     
     h3 {
         font-size: 1.802rem;
     }
     
     h4 {
         font-size: 1.7rem;
     }
     
     p {
         font-size: 1.6rem;
     }

     nav a {
         font-size: 1.6rem;
     }

     header.menu-fixed nav a {
        font-size: 1.4rem;
    }

    .team__left__bio h3 {
        font-size: 1.6rem;
    }

}

@media only screen and (max-device-width: 102.4rem) and (orientation: landscape) { 

    h1 {
        font-size: 2.566rem; 
     }
     
     h2 {
         font-size: 2.027rem;
     }
     
     h3 {
         font-size: 1.802rem;
     }

     p {
         font-size: 1.5rem;
     }

}

@media only screen and (max-width: 42rem) and (-webkit-device-pixel-ratio: 2) {
    
    h1 {
        font-size: 2.027rem; 
     }
     
    h2 {
        font-size: 1.802rem;
    }
     
    h3 {
        font-size: 1.602rem;
    }
     
    h4 {
        font-size: 1.424rem;
    }
     
    p {
        font-size: 1.424rem;
    }

    nav a {
         font-size: 1.424rem;
    }

    nav li a {
        font-size: 3.247rem;
    }

    .team__left__bio h3 {
        font-size: 1.602rem;
    }

}

.button-cta {
    font-size: 1.4rem;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 400;
}

/* General */
.split-halves__headline h1 {
    text-transform: uppercase;
}

.split-halves__paragraph a {
    text-decoration: none;
    color: #262626;
    transition: all .3s ease;
}

.split-halves__paragraph a:hover {
    color: #ff3300;
}

.container__headline h1 {
    text-transform: uppercase;
}

.team__left__headline h1 {
    text-transform: uppercase;
    color: #262626;
}

.team__left__paragraph {
    font-size: 2.281rem;
}

.hero__right h1 {
    font-size: 13.642rem;
    line-height: 1;
}

.hero__right h3 {
    font-size: 3.653rem;
    line-height: 1.25;
}

.hardfacts {
    font-size: 12rem;
    line-height: 1;
}

@media only screen and (max-width: 144rem) {
    
    .hero__right h1 {
        font-size: 7.451rem;
    }

    .hero__right h3 {
        font-size: 2.566rem;
        line-height: 1.25;
    }

    .hardfacts {
        font-size: 6.4rem;
        line-height: 1;
    }

    .team__left__paragraph {
        font-size: 1.802rem;
    }

}

@media only screen and (max-width: 102.4rem) { 

    .hero__right h1 {
        font-size: 6.583rem;
    }

    .hero__right h3 {
       font-size: 2.027rem;
       line-height: 1.35;
    }

    .team__left__name h1 {
        font-size: 2.281rem;
    }

}

@media only screen and (max-width: 42rem) and (-webkit-device-pixel-ratio: 2) {

    .hero__right h1 {
        font-size: 3.247rem;
    }

    .hero__right h3 {
        font-size: 1.802rem;
        line-height: 1.45;
    }

    .container__paragraph {
        font-size: 1.802rem;
    }

    .hardfacts {
        font-size: 2.566rem;
    }

    .team__left__paragraph {
        font-size: 1.6rem;
    }
}

.page-header__left__headline h1 {
    text-transform: uppercase;
}

/* Team */
.team-header__left p {
    max-width: 64rem;
}

.team-grid__item__headline h2 {
    text-transform: uppercase;
}

p.team-grid__info {
    font-size: 3.2rem;
}

h2.team-grid__title {
    text-transform: uppercase;
    margin-bottom: -1rem;
}

h3.team-grid__position {
    margin-bottom: 2rem;
}

p.team-grid__headline {
    font-size: 1.3rem;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

@media only screen and (max-width: 144rem) {
    
    .team-grid__item h3 {
            font-size: 1.6rem;
    }

    p.team-grid__info {
        font-size: 2.4rem;
    }
}

@media only screen and (max-device-width: 102.4rem) and (orientation: landscape) { 

    p.team-grid__info {
        font-size: 2.1rem;
    }

}

@media only screen and (max-width: 42rem) and (-webkit-device-pixel-ratio: 2) {

    .team-grid__icon p {
        font-size: 1.6rem;
    }

    p.team-grid__info {
        font-size: 1.8rem;
    }
}

/* Unternehmen */
.split-thirds__content__headline h2 {
    text-transform: uppercase;
}

/* Referenzen */
.referenzen-grid__intro__headline h1 {
    text-transform: uppercase;
}

/* Kontakt */
.sprechzeiten-grid__tag,
.kontaktdaten-grid__title {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.1px;
}

.kontaktdaten-grid__value {
    font-size: 1.6rem;
}

.sprechzeiten-grid__uhrzeit {
    font-size: 1.6rem;
}

/* Karriere */
h3.job-keyfacts__headline {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.job-keyfacts__container p {
    opacity: 0.4;
}

a button.job-link-back {
    font-family: var(--base-font);
    font-weight: 400;
}

button.job-link-back,
a.button {
    text-decoration: none;
    font-family: var(--base-font);
    font-size: 1.6rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 144rem) {
    
    button.job-link-back,
    a.button {
        font-size: 1.4rem;
    }

    .button-cta {
        font-size: 1.25rem;
    }

    h3.job-keyfacts__headline {
        font-size: 1.3rem;
    }

    ul li {
        font-size: 1.6rem;
        line-height: 1.4;
    }

}

@media only screen and (max-width: 42rem) and (-webkit-device-pixel-ratio: 2) {

    .referenzen-objekt-grid__quote h2 {
        font-size: 1.802rem;
    }

    .split-halves__paragraph h2 {
        font-size: 2.027rem;
    }

}

/* Footer */

.footer-section__headline {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.footer-section__content p {
    font-size: 2.027rem;
}

.footer-section a {
    text-decoration: none;
    color: #262626;
    border-bottom: 1px solid transparent;
    transition: all .5s ease;
}

.footer-section a:hover {
    border-bottom: 1px solid #262626;
}

@media only screen and (max-width: 144rem) {
    
    .footer-section__content p {
        font-size: 1.6rem;
    }

    .footer-section__headline {
        font-size: 1.3rem;
    }

}

@media only screen and (max-width: 102.4rem) {

    .footer-section__content p {
        font-size: 1.266rem;
    }

}