@font-face {
    font-family: "Space Grotesk";
    font-weight: 400;
    src: url(../fonts/SpaceGrotesk-Regular.woff2), url(../fonts/SpaceGrotesk-Regular.woff);
}

:root {
    --base-font: "Space Grotesk"
}

body {
    font-family: var(--base-font), Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: var(--base-font), Helvetica, sans-serif;
}

h1 {
   font-size: 4.624rem; 
}

h2 {
    font-size: 3.653rem;
}

h3 {
    font-size: 2.281rem;
}

p {
    font-size: 1.8rem;
}

nav a {
    font-size: 1.8rem;
}

.container__headline h1 {
    text-transform: uppercase;
}

.team__left__headline h1 {
    text-transform: uppercase;
    color: #fff;
}

.hero__right h1 {
    font-size: 3.653rem;
    line-height: 1.25;
}

/* Team */
.team-header__left p {
    max-width: 64rem;
}

h2.team-grid__title {
    margin-bottom: -1rem;
}

h3.team-grid__position {
    margin-bottom: 2rem;
}

p.team-grid__headline {
    font-size: 1.4rem;
    text-transform: uppercase;
}