.p-md {
    padding: 4rem;
}

.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.ml0 {
    margin-left: 0;
}

.mr0 {
    margin-right: 0;
}

.mb-xs {
    margin-bottom: 1rem;
}

.mb-sm {
    margin-bottom: 2.4rem;
}

.mb-md {
    margin-bottom: 4rem;
}

.mb-lg {
    margin-bottom: 8rem;
}

.mb-xlg {
    margin-bottom: 12rem;
}

.mt-xs {
    margin-top: 1rem;
}

.mt-sm {
    margin-top: 2.4rem;
}

.mt-md {
    margin-top: 4rem;
}

.mt-lg {
    margin-top: 8rem;
}

.mt-xlg {
    margin-top: 12rem;
}

@media only screen and (max-width: 144rem) {
    
    .p-md {
        padding: 4rem;
    }
    
    .mb-xs {
        margin-bottom: 0.6rem;
    }
    
    .mb-sm {
        margin-bottom: 1.2rem;
    }
    
    .mb-md {
        margin-bottom: 2.4rem;
    }
    
    .mb-lg {
        margin-bottom: 4.8rem;
    }
    
    .mb-xlg {
        margin-bottom: 6.4rem;
    }
    
    .mt-xs {
        margin-top: 0.6rem;
    }
    
    .mt-sm {
        margin-top: 1.2rem;
    }
    
    .mt-md {
        margin-top: 2rem;
    }
    
    .mt-lg {
        margin-top: 4rem;
    }
    
    .mt-xlg {
        margin-top: 6rem;
    }

}

.bg-grey {
    background-color: #EBE4DC;
}