{% include header.html %}

<section class="hero">
    <div class="hero__left">
        <div class="hero__left__img anim" style="background-image: url('{{ page.hero-image }}');" data-delay="0s"></div>
    </div>
    <div class="hero__right">
        <h1 class="mb-sm anim" data-delay="0.25s">{{ page.hero-headline }}</h1>
        <h3 class="anim" data-delay="0.5s">{{ page.hero-subheadline }}</h3>
    </div>
</section>

<section class="container">

<div>{{ page.content }}</div>

</section>

<section class="container team">

    <div class="team__left">
        {% for person in site.team reversed %}

        {% if forloop.first == true %}
            <div class="team__left__name current">
                <h2>{{ person.title }}</h2>
            </div>
        {% else %}
            <div class="team__left__name">
                <h2>{{ person.title }}</h2>
            </div>
        {% endif %}

        {% endfor %}
    </div>

    <div class="team__right">
        {% for person in site.team reversed %}
        {% if forloop.first == true %}
            <div class="team__right__image fade visible in" style="background-image: url('{{ person.portrait_image }}');"></div>
        {% else %}
            <div class="team__right__image fade" style="background-image: url('{{ person.portrait_image }}');"></div>
        {% endif %}
        {% endfor %}
        <!-- <div class="team__right__image visible"></div> -->
    </div>

</section>

{% include footer.html %}