{% include header.html %}


<section class="hero">
    <div class="hero__left">
        <div class="hero__left__img" style="background-image: url('{{ page.hero-image }}');"></div>
    </div>
    <div class="hero__right">
        <h1 class="mb-sm">{{ page.hero-headline }}</h1>
        <h3>{{ page.hero-subheadline }}</h3>
    </div>
</section>

<section class="container">

        {% for person in site.team reversed %}
            <div>
                <a href="{{ person.url }}">
                    <h2>{{ person.title }}</h2>
                </a>
            </div>

        {% endfor %}

</section>

<section class="container">

    {% for objekt in site.objekte reversed %}
        <div>
            <a href="{{ objekt.url }}">
                <h2>{{ objekt.title }}</h2>
                <p>{{ objekt.ort }}</p>
                <p>{{ objekt.adresse }}</p>
            </a>
        </div>

    {% endfor %}

</section>

<section class="container team">

    <div class="team__left">
        {% for person in site.team reversed %}
            <div class="team__left__name">
                <h2>{{ person.title }}</h2>
            </div>
        {% endfor %}
    </div>

    <div class="team__right">
        {% for person in site.team reversed %}
            <div class="team__right__image fade" style="background-image: url('{{ person.portrait_image }}');"></div>
        {% endfor %}
        <!-- <div class="team__right__image visible"></div> -->
    </div>

</section>

{% include footer.html %}