{% include header.html %}

<section class="split-halves">
    <div class="split-halves__content">
        <div class="split-halves__headline">
            <div class="anim" data-delay="0.25s">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="split-halves__paragraph">
            <div class="anim mb-sm" data-delay="0.5s">
                {{ content }}
            </div>
            <div class="anim" data-delay="0.5s">
                <div class="kontaktdaten-grid">
                    <div class="kontaktdaten-grid__title">Telefon</div>
                    <div class="kontaktdaten-grid__value">{{ page.kontaktdaten.phone }}</div>

                    <div class="kontaktdaten-grid__title">Telefax</div>
                    <div class="kontaktdaten-grid__value">{{ page.kontaktdaten.fax }}</div>

                    <div class="kontaktdaten-grid__title">Mail</div>
                    <div class="kontaktdaten-grid__value"><a href="mailto:{{ page.kontaktdaten.mail }}">{{ page.kontaktdaten.mail }}</a></div>
                </div>
            </div>
        </div>
        <div class="split-halves__paragraph">
            <div class="anim" data-delay="0.5s">
                <h2 class="mb-sm">Telefonische Sprechzeiten</h2>
                <div class="sprechzeiten-grid">
                    <div class="sprechzeiten-grid__tag">Montag</div>
                    <div class="sprechzeiten-grid__uhrzeit">{{ page.sprechzeiten.mo }}</div>

                    <div class="sprechzeiten-grid__tag">Dienstag</div>
                    <div class="sprechzeiten-grid__uhrzeit">{{ page.sprechzeiten.di }}</div>

                    <div class="sprechzeiten-grid__tag">Mittwoch</div>
                    <div class="sprechzeiten-grid__uhrzeit">{{ page.sprechzeiten.mi }}</div>

                    <div class="sprechzeiten-grid__tag">Donnerstag</div>
                    <div class="sprechzeiten-grid__uhrzeit">{{ page.sprechzeiten.do }}</div>

                    <div class="sprechzeiten-grid__tag">Freitag</div>
                    <div class="sprechzeiten-grid__uhrzeit">{{ page.sprechzeiten.fr }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="split-halves__imagewrapper">
        <div class="split-halves__heroimage anim" style="background-image: url('{{ page.hero_img }}');" data-delay="0.25s"></div>
    </div>
</section>

<section class="split-halves">
    <div class="split-halves__content">
        <div id="map"></div>
    </div>
    <div class="split-halves__content">
        <div class="split-halves__paragraph">
            <div class="anim mb-md" data-delay="0.5s">
                <h2>Wir arbeiten da, wo andere Urlaub machen.</h2>
                <div class="split-halves__cell">
                    <h3>{{ page.adresse.str }}</h3>
                </div>
                <div class="split-halves__cell">
                    <h3>{{ page.adresse.ort }}</h3>
                </div>
            </div>
            <div class="anim" data-delay="0.5s">
                <p>{{ page.anfahrt-text }}</p>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}