{% include header.html %}

<section class="referenzen-grid">

    <div class="referenzen-grid__intro">
        <div class="referenzen-grid__intro__headline">
            <div class="anim" data-delay="0.25s">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="referenzen-grid__intro__paragraph">
            <div class="anim" data-delay="0.5s">
                {{  content }}
            </div>
        </div>
    </div>
    <div class="referenzen-grid__heroimagewrapper">
        <div class="referenzen-grid__heroimage anim" style="background-image: url('{{ page.hero_image }}');" data-delay="0.5s"></div>
    </div>

</section>


{% for objekt in site.objekte reversed %}
    <div class="referenzen-objekt-grid">
        <div class="referenzen-objekt-grid__left">
            <div class="referenzen-objekt-grid__image" style="background-image:url('{{ objekt.keyfacts.image }}');"></div>

            <div class="referenzen-objekt-grid__facts">
                <div class="referenzen-objekt-grid__object">
                    <div class="anim" data-delay="0.25s">
                        <h2>{{ objekt.title }}</h2>
                        <p>{{ objekt.keyfacts.adresse }}</p>
                        <p>{{ objekt.keyfacts.ort }}</p>
                    </div>
                </div>
            </div>     
        </div>

        <div class="referenzen-objekt-grid__right">
            <div class="referenzen-objekt-grid__quote">
                <div class="anim" data-delay="0.25s">
                    <h2>{{ objekt.quote.text }}</h2>
                </div>
            </div>

            <div class="referenzen-objekt-grid__person">
                <div class="anim" data-delay="0.5s">
                    <h1>{{ objekt.quote.name }}</h1>
                    <h3 class="mb-md">{{ objekt.quote.anschrift }}</h3>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% include footer.html %}