{% include header.html %}

<div class="modal-overlay"></div>

<section class="page-header">
    <div class="page-header__left">
        <div class="page-header__left__headline">
            <h1 class="anim" data-delay="0.25s">{{ page.title }}</h1>
        </div>
        <div class="page-header__left__paragraph">
            <div class="anim" data-delay="0.5s">{{ content }}</div>
        </div>
    </div>

    <div class="page-header__right">
        <div class="page-header__right__imagewrapper">
            <img src="{{ page.group_image }}" alt="Team Group Image" class="anim" data-delay="0.5s">
        </div>
    </div>
</section>

<section class="team-grid">
    {% assign sorted = site.team | sort: 'order' | reverse %}
    {% for item in sorted %}
    <div class="team-grid__item">
        <div class="portraitwrapper">
            <img class="portrait" src="{{ item.portrait_image }}" />
        </div>

        <div class="team-grid__item__headline">
            <h2>{{ item.title }}</h2>
        </div>

        <div class="team-grid__keyfacts">
            <h3>{{ item.stelle }}</h3>
        </div>

        <div class="team-grid__bio">
            <div class="team-grid__bio__wrapper">
                <div class="team-grid__bio__portrait">
                    <img class="portrait-small" src="{{ item.portrait_image }}" />
                </div>
                <div class="team-grid__bio__content">
                    <p class="team-grid__info mb-md">{{ item.bio }}</p>
                    <p class="team-grid__headline">Schwerpunkte</p>
                    <div class="team-grid__tabelle mb-md">
                        {% for taetigkeitsschwerpunkt in item.taetigkeitsschwerpunkte %}
                        <p>{{ taetigkeitsschwerpunkt }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="team-grid__close">
                <p>close window</p>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- <div class="team-grid__item light">
        <div class="team-grid__item__headline">
            <h2 class="anim" data-delay="0.25s">{{ page.karriere_headline }}</h2>
        </div>
        <div class="team-grid__item__paragraph">
            <h3 class="mt-xs anim" data-delay="0.375s">{{ page.karriere_text }}</h3>
            <div class="button-wrap mt-md anim" data-delay="0.5s">
                <a href="/karriere/" class="button-cta">Zur Übersicht</a>
            </div>
        </div>
    </div> -->
</section>

{% include footer.html %}